<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://raw.githubusercontent.com/wangchao1q2w3e4r/mybeta/75f080c62aad4b046c0f9ea12635a87f7d85a1a7/CPNASWP.ipa</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
					<string>com.cnoocltd.intl.CPNASafeWorkPermit</string>
					<key>bundle-version</key>
                    <string>1.0.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>CPNASWP</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
